@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins{
    font-family: 'Poppins', sans-serif;
}

.playfair{
    font-family: 'Playfair Display', serif;
}

a:hover{
    color: rgb(234, 179, 8);
    transition-duration: 300ms;
}

input, select, textarea{
    font-size: 13px;
    padding-inline: 8px;
    padding-block: 4px;
    border-radius: 10px;
    outline: 1px solid gray;
}